.container {
    text-align: center;
    align-items: center;
    font-weight: bolder;
}
label {
    color: black;
    font-size: larger;
}
.quiz {
    background-size: cover;
}
h2 {
    color: black;
}
